* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1f1f1f;
  overflow-x: hidden;
  color: white;
}
.mainHeader {
  width: 100vw;
  height: 20vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  .logo {
    width: 30%;
    font-size: 3rem;
  }
  .nav {
    display: flex;
    list-style-type: none;
    .option {
      padding: 0 20px;
    }
  }
}
.imgIntro {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: 0% -130%;
  background-image: url("../src/XddddD.jpg");
  position: relative;
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 3rem;
  }
}
.imgIntro::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2137;
}
.textContainer {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}

.klasy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  .klasy1,
  .klasy2 {
    display: flex;
    flex-direction: column;
  }
}

.kafle {
  display: flex;
  color: white;
  background-color: green;
  text-align: center;
  text-decoration: none;
  font-size: 4rem;
  height: 13vh;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.kafle:hover {
  background-color: lightgreen;
}

@media screen and (min-width: 1100px) {
  .klasy {
    flex-direction: row;
    .klasy1,
    .klasy2 {
      width: 50%;
    }
  }
}

@media screen and (min-width: 650px) {
  .kafle {
    margin: 0 6px 0 6px;
    width: 33%;
  }
  .klasy {
    .klasy1,
    .klasy2 {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .klasy1 {
      margin-bottom: 12px;
    }
  }
}

//CHUJ
.footer {
  margin-top: 20px !important;
}
.footer_own {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text {
  display: grid;
  grid-template-areas:
    "title title title"
    "box1 box2 box3";
  color: white;
  width: 85vw;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  padding-bottom: 20px;
}
.main_box {
  grid-area: title;
  font-size: 25px;
  text-align: center;
  border-bottom: #636363 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box1 {
  grid-area: box1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.footer_img {
  width: 60px;
  height: 60px;
}
.h3_footer_n {
  color: white;
  text-align: center;
}
.h3_footer_n {
  border-bottom: #636363 2px solid;
  padding-bottom: 10px;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.details > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.details > ul > li > a:hover {
  color: #ff5500;
}
.details_list li {
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.details_list a {
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
@media (max-width: 470px) {
  .footer_text {
    grid-template-areas:
      "title"
      "box1"
      "box2"
      "box3";
    grid-template-columns: 1fr;
    width: 90vw;
    grid-row-gap: 20px;
  }
  .box1,
  .box2,
  .box3 {
    text-align: center;
    font-size: 14px;
  }
  .main_box {
    font-size: 17px;
  }
  .details_list > li {
    list-style-type: none !important;
  }
}
///</CHUJ>
