* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1f1f1f;
  overflow-x: hidden;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.mainHeader {
  width: 100vw;
  height: 20vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  .logo {
    width: 30%;
    font-size: 3rem;
  }
  .nav {
    display: flex;
    list-style-type: none;
    .option {
      padding: 0 20px;
    }
  }
}
.imgIntro {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: 0% -130%;
  background-image: url("../src/XddddD.jpg");
  position: relative;
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 3rem;
  }
}
.imgIntro::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2137;
}
.textContainer {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}

.klasy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  .klasy1,
  .klasy2 {
    display: flex;
    flex-direction: column;
  }
}

.kafle {
  display: flex;
  color: white;
  background-color: green;
  text-align: center;
  text-decoration: none;
  font-size: 4rem;
  height: 13vh;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.kafle:hover {
  background-color: lightgreen;
}

@media screen and (min-width: 1100px) {
  .klasy {
    flex-direction: row;
    .klasy1,
    .klasy2 {
      width: 50%;
    }
  }
}

@media screen and (min-width: 650px) {
  .kafle {
    margin: 0 6px 0 6px;
    width: 33%;
  }
  .klasy {
    .klasy1,
    .klasy2 {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .klasy1 {
      margin-bottom: 12px;
    }
  }
}
//text
.content {
  margin-top: 20px;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
#red {
  color: red;
}
//box tabeli
.content_part_2 {
  margin-top: 30px;
}
//list
.leavs li {
  list-style-type: none;
  padding: 7px;
}

//table
.table_header {
  font-size: 30px;
}
.table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  td,
  th {
    border: 2px solid black;
  }
  th {
    background-color: rgb(0, 100, 17);
  }
  td {
    background-color: #3d3d3d;
  }
}
.footer {
  margin-top: 20px !important;
}
.footer_own {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_text {
  text-align: center;
  font-size: 25px;
  width: 100%;
  border-bottom: green 2px solid;
}
.mainbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.footer_h3_n {
  width: 100%;
  text-align: center;
  border-bottom: green 2px solid;
  margin-bottom: 5px;
}
.footer_list {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .mainbox {
    flex-direction: row;
    align-items: baseline;
  }
  .box1,
  .box2,
  .box3 {
    width: 33%;
  }
}
